@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');

.vibe-item-img {
  max-width: 40rem;
  height: 20rem;
  object-fit: contain;
  overflow: auto;
}

.button-update {
  background-color: #0BD3D3;
}

.button-delete {
  background-color: #DB3EB1;
}

.vibe-username-description {
  display: inline;
}

.vibe-username {
  font-weight: bold;
}

.vibes-header {
  text-align: center;
  color: #DB3EB1;
  text-shadow: 1x 1px black;
  text-shadow: 2x 2px black;
  text-shadow: 3x 3px black;
  text-shadow: 4x 4px black;

}

.vibe-create {
  object-fit: cover;
  overflow: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  min-height: 700px;
  justify-content: center;
  align-items: center;
}

.vibes-globe {
  color: #0BD3D3;
}

.vibes-star {
  color: #FFD700;
}

.vibes-heart {
  color: #C51114;
}

.vibes-v {
  font-family: 'Train One', cursive;
  font-weight: bold;
}

.vibes-likes-count {
  padding-left: 5px;
}

.likes-button {
  margin-top: 5px;
}

.likes-favorites-buttons {
  display: inline-block;
  margin-top: 5px;
  padding-right: 10px;
}

.background-image2 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: auto;
  opacity: 0.4;
  z-index: -2;
}

.title-text {
  color: #db3eb1;
}

.vibe-card {
  margin-bottom: 40px;
}